@charset 'utf-8';
@use '@css/abstracts' as *;

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/src/assets/font/PretendardVariable.woff2') format('woff2-variations');
}

html,
body,
button,
pre {
  font-family: $font;
}

html,
body,
div,
textarea {
  @include scrollbar(8px);
}

.accent {
  color: $c-accent;
}

.text-gradient {
  background: #486aea;
  background: linear-gradient(to right, #486aea 0%, #3ca6f8 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-link {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #3297e1;
    transition: color $duration;
  }
}

.text-center {
  text-align: center;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.display-hide {
  display: none !important;
}

.mob-hide {
  display: block;

  @include tablet-sm {
    display: none;
  }
}

.mob-show {
  display: none;

  @include tablet-sm {
    display: block;
  }
}
