@charset 'utf-8';
@use '@css/abstracts' as *;

.card-area {
  margin: rem(140px) 0 rem(60px);
  @include gridAuto(rem(300px));
  gap: rem(100px) rem(56px);

  @include tablet {
    margin: rem(80px) 0 0;
    gap: rem(60px) rem(56px);
  }

  @include mobile {
    margin: rem(60px) 0 0;
    gap: rem(30px);
  }
}

.card {
  display: block;
  transition: $duration;
  cursor: pointer;
  transform: translateY(rem(40px));
  opacity: 0;

  &.blur {
    opacity: 0.7 !important;
  }

  &:hover {
    .card__body {
      border: 1px solid rgba($color: $c-border, $alpha: 0.75);
      box-shadow: 0px 4px 20px 4px rgba(75, 73, 88, 0.06);
    }
  }

  &__wrap {
    position: relative;
    height: 100%;
  }

  &__header {
    $size: rem(190px);

    width: $size;
    height: $size;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: rem(12px);
    background: linear-gradient(311.92deg, #4769e9 22.51%, #3ba6f7 73.28%);
    box-shadow: 0px 4px 30px rgba(71, 105, 234, 0.3);
    border-radius: rem(16px);
    z-index: 10;

    @include tablet {
      $size: rem(136px);

      width: $size;
      height: $size;
    }

    &--num {
      color: rgba($color: $c-white, $alpha: 0.2);
      font-size: rem(100px);
      font-weight: 800;
      text-align: center;
      line-height: 1;

      @include tablet {
        font-size: rem(72px);
      }
    }

    &--title {
      min-height: rem(62px);
      @include flexCenter(center);
      color: $c-white;
      font-size: rem(24px);
      font-weight: 600;
      text-align: center;
      transform: translateY(-12px);

      @include tablet {
        font-size: rem(16px);
      }
    }
  }

  &__body {
    height: calc(100% - rem(120px));
    position: relative;
    bottom: rem(60px);
    padding: rem(108px) rem(48px) rem(32px);
    font-size: rem(18px);
    line-height: 1.65;
    background-color: $c-white;
    border-radius: rem(40px);
    overflow: hidden;
    border: 1px solid transparent;
    transition: $duration;

    @include tablet {
      padding-top: rem(90px);
      font-size: rem(16px);
      line-height: 1.6;
      box-shadow: 0px 4px 20px 4px rgba(75, 73, 88, 0.06);
    }
  }
}

.top-section {
  display: flex;
  justify-content: space-between;
  gap: rem(88px);

  @include laptop {
    gap: rem(56px);
  }

  @include tablet-sm {
    flex-direction: column;
  }

  &__text {
    flex: 1;
    padding-top: rem(24px);

    @include tablet-sm {
      padding-top: 0;
    }
  }

  &__img {
    flex: 1;
    @include flexCenter;

    img {
      width: 100%;
      border-radius: rem(24px);
      overflow: hidden;
    }
  }

  &__title {
    @include flexCenter;
    gap: rem(8px);

    &--text {
      font-size: rem(30px);
      font-weight: 700;
    }
  }

  &__desc {
    margin-top: rem(32px);
    color: $c-text-grey;
    font-size: rem(18px);
    font-weight: 500;

    @include mobile {
      font-size: rem(16px);
    }

    &--list {
      margin: rem(32px) 0;
      padding-left: rem(32px);
      color: $c-text-black;

      @include mobile {
        padding-left: rem(16px);
      }

      li {
        position: relative;
        font-size: rem(17px);
        font-weight: 500;

        @include mobile {
          font-size: rem(14px);
        }

        &:not(:first-child) {
          margin-top: rem(4px);
        }

        &::before {
          $size: rem(4px);

          @include pseudo('', $size, $size);
          position: absolute;
          top: rem(9px);
          left: rem(-14px);
          background-color: $c-text-black;
          border-radius: 100%;
        }
      }
    }
  }
}

.benefits {
  margin-top: rem(72px);

  @include tablet-sm {
    margin-top: rem(40px);
  }

  &__list {
    position: relative;
    padding-left: rem(26px);
    counter-increment: number 01;

    &:not(:first-child) {
      margin-top: rem(140px);

      @include tablet {
        margin-top: rem(100px);
      }

      @include tablet-sm {
        margin-top: rem(56px);
      }
    }
  }

  &__title {
    $bgStart: rgba(
      $color: #486aea,
      $alpha: 0.5,
    );

    $bgEnd: rgba(
      $color: #3ca6f8,
      $alpha: 0.5,
    );

    position: relative;

    &--num {
      position: absolute;
      top: rem(-36px);
      left: rem(-50px);
      color: $c-primary;
      font-size: rem(50px);
      font-weight: 900;
      opacity: 0.2;
      z-index: -1;

      @include tablet-sm {
        top: rem(-26px);
        left: rem(-28px);
        font-size: rem(30px);
      }
    }

    &--text {
      display: inline;
      font-size: rem(28px);
      font-weight: 600;
      background-image: linear-gradient(to right, $bgStart 0%, $bgEnd 68%);
      background-repeat: no-repeat;
      background-size: 0 35%;
      background-position: 0 bottom;
      transition: background-size 0.8s;

      @include tablet {
        font-size: rem(24px);
      }

      @include tablet-sm {
        font-size: rem(18px);
      }

      &.is-active {
        background-size: 100% 35%;

        @include mobile {
          background-size: 100% 30%;
        }
      }
    }
  }

  &__desc {
    margin-top: rem(16px);
    font-size: rem(18px);
    color: $c-text-grey;

    @include tablet-sm {
      font-size: rem(14px);
    }
  }
}

.box-area {
  width: 90%;
  margin: 0 auto rem(80px);
  padding: rem(56px) rem(80px);
  color: $c-white;
  background: rgb(59, 166, 247);
  background: linear-gradient(90deg, rgba(59, 166, 247, 1) 0%, rgba(71, 105, 233, 1) 100%);
  border-radius: rem(40px);

  @include tablet-sm {
    padding: rem(40px) rem(56px);
    border-radius: rem(24px);
  }

  @include mobile {
    padding: rem(40px) rem(32px);
    border-radius: rem(24px);
  }

  &__title {
    margin-bottom: rem(24px);
    font-size: rem(24px);
    font-weight: 500;
    text-align: center;

    @include tablet-sm {
      font-size: rem(20px);
    }

    @include mobile {
      font-size: rem(18px);
    }
  }

  &__text {
    font-size: rem(18px);
    line-height: 1.6;

    @include tablet-sm {
      font-size: rem(16px);
    }

    @include mobile {
      font-size: rem(14px);
      line-height: 1.4;
    }
  }
}

.function-area {
  @include gridAuto(rem(250px));
  gap: rem(60px) rem(24px);
  margin-top: rem(72px);

  @include mobile {
    gap: rem(48px);
    margin-top: rem(40px);
  }
}

.function {
  max-width: rem(310px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  &__icon {
    $size: rem(80px);

    width: $size;
    height: $size;

    background-color: $c-secondary;
    background-size: rem(50px);
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 8px 16px rgba(75, 81, 89, 0.25);
    border-radius: 100%;

    @include mobile {
      $size: rem(50px);

      width: $size;
      height: $size;
      background-size: rem(32px);
    }
  }

  &__wrap {
    width: 100%;
    flex: 1;
    margin-top: rem(24px);
    padding: rem(32px) rem(40px);
    background: rgba($color: $c-white, $alpha: 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    @include shadow03;
    border: 1px solid rgba($color: $c-white, $alpha: 0.3);
    border-radius: rem(12px);

    @include mobile {
      margin-top: rem(12px);
      padding: rem(24px) rem(32px) rem(50px);
    }
  }

  &__title {
    margin-bottom: rem(16px);
    font-size: rem(22px);
    font-weight: 600;

    @include mobile {
      font-size: rem(16px);
    }
  }

  &__desc {
    padding-left: rem(24px);

    @include mobile {
      font-size: rem(14px);
    }
  }

  &__list {
    position: relative;

    &:not(:first-child) {
      margin-top: rem(6px);
    }

    &::before {
      $size: rem(4px);

      @include pseudo('', $size, $size);
      position: absolute;
      top: rem(8px);
      left: rem(-16px);
      background-color: #434343;
      border-radius: 100%;
    }
  }
}
