//Pseudo class
@mixin pseudo($content, $width, $height) {
  content: $content;
  display: block;
  width: $width;
  height: $height;
}

// position
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

//position center
@mixin positionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Flex center align
@mixin flexCenter($justify: flex-start) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin gridAuto($minSize) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($minSize, auto));
}

// animating - show
@mixin animatedShow {
  opacity: 1;
  max-height: 100%;
  transition:
    opacity 0.6s,
    max-height 0s;
}

// animating - hide
@mixin animatedHide {
  opacity: 0.01;
  max-height: 0;
  transition:
    opacity 0.6s,
    max-height 0s 0.6s;
}

//text ellipsis
@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

//text ellipsis
@mixin ellipsisMulti($line) {
  display: -webkit-box !important;
  -webkit-line-clamp: $line; // 여러줄 이상 ellipsis
  -webkit-box-orient: vertical;
  white-space: normal;
  vertical-align: baseline;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin firefox {
  @-moz-document url-prefix() {
    @content;
  }
}

@mixin safari-pc {
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      @content;
    }
  }
}

@mixin ios {
  @supports (-webkit-touch-callout: none) {
    @content;
  }
}

@mixin scrollbar($size) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fafafa;
  }

  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment {
    display: none !important;
    width: 0;
    height: 0;
  }
}

@mixin shadow01 {
  box-shadow: 0px 4px 10px 0px rgba(75, 73, 88, 0.08);
}

@mixin shadow02 {
  box-shadow: 0px 4px 8px 0px rgba(76, 42, 81, 0.06);
}

@mixin shadow03 {
  box-shadow: 0px 0px 20px 0px rgba(76, 42, 81, 0.16);
}
