@charset 'utf-8';
@use '@css/abstracts' as *;

.logo {
  width: rem(142px);
  height: rem(26px);
  font-size: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: logo(logoSVG); //기본 로고 출력
}
